.form-row {
    padding: 10px 0;
    display: flex;
}

.form-row label {
    padding-right: 10px;
}

.form-row input {
    flex: 1;

}


.column-layout {
    max-width: 1300px;
    background-color: #fff;
    margin: 40px auto 0 auto;
    line-height: 1.65;

}

